{
    // (A) your dropbox access token here,
    "access_token": "aAbBcCdDeEfFgG-0123456789-xyzwXYZW",

    // (B) or, your infisical values here
    "infisical": {
        // infisical universal-auth values
        "client_id": "012345-abcdefg-987654321",
        "client_secret": "aAbBcCdDeEfFgG0123456789xyzwXYZW",

        // values for your desired secret key:
        "workspace_id": "012345abcdefg",
        "environment": "dev",
        "secret_type": "shared",
        "key_path": "/path/to/your/KEY_TO_ACCESS_TOKEN",
    },
}
